{% if infowindow is not empty %}
  {% set showInfowindow = "true" %}
{% endif %}
<section class="google-map-field {{ custom_class }}">
  {% if region_selector %}
    <select id="region-selector">
      {% for regionId, region in regions %}
        <option value="{{ regionId }}">{{ region }}</option>
      {% endfor %}
    </select>
  {% endif %}
  <div class="map__error-message">
    <p>No projects found for for the selected region.</p>
  </div>
  {% if name %}
  <h2>{{ name }}</h2>
  {% endif %}
  {% if showInfowindow %}
  <div class="map-infowindow" style="display:none;">{{ infowindow }}</div>
  {% endif %}
  <div class="map-container" style="width:{{ width }};height:{{ height }};" data-controls-show="{{ show_controls }}" data-marker-show="{{ show_marker }}" data-type="{{ type }}" data-lat="{{ lat }}" data-lon="{{ lon }}" data-zoom="{{ zoom }}" data-infowindow="{{ showInfowindow }}"></div>
</section>
